@use "../../styles/vars";
@import "../../styles/extensions";

#projects {
  @extend %body;
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: vars.$color-bg-alt;
}
.projects {
  @extend %container;
  flex-direction: column;
  & h2 {
    justify-self: center;
  }
}
.projects__tabs {
  display: flex;
  justify-content: flex-start;

  & button {
    background-color: transparent;
    padding: 0 vars.$padding-big;
    border-bottom: none;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: transparent;
    background-color: inherit;
    color: grey;
    color: vars.$color-text-important;

    margin: vars.$padding-big;
    margin-bottom: 0px;
    font-size: calc(vars.$fontSize-main);
  }
}
.projects .projects__tabs .projects__tabs--active {
  color: vars.$color-text;
  font-weight: 800;

  background-color: vars.$color-bg-main;
}
img[alt="Github"] {
  width: 40px;
}

.projects__intro {
  @extend %content;
  width: 80%;
  margin: auto;
  text-align: center;
  @media only screen and (max-width: 1180px) {
    text-align: justify;
    width: 100%;
  }
}
