@use "../../styles/vars";

.PickLanguage__container {
  display: flex;
  font-size: vars.$fontSize-main;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 20px;
  }
}
