@use "sass:color";

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

$color-bg-dark: #262f38;
$color-bg-main: #f5f5f5;
$color-bg-alt: #c0c0c0;

$color-text: #444649;
$color-text-alt: white;
$color-text-important: #e31b6d;

$color-objects: #04c2c9;
$margin: 1rem;
$margin-big: 1.5rem;
$margin-small: 0.5rem;

$padding: 1rem;
$padding-big: 1.5rem;
$padding-small: 0.5rem;

$font: "Lato", sans-serif;
$fontSize-main: calc(80% + 2vmin);
$fontSize-title: calc(80% + 4vmin);

$fontSize-mobile-main: calc(40% + 1vmin);
$fontSize-mobile-title: calc(60% + 2.5vmin);
