@use "../../styles/vars";

.downIcon {
  position: fixed;
  bottom: 0;
  top: 95vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 800;
  & svg {
    color: vars.$color-text-important;
  }
}

.upIcon {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 800;
  & svg {
    color: vars.$color-text-important;
  }
}

.hide {
  display: none;
}
