.downIcon {
  position: fixed;
  bottom: 0;
  top: 95vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.upIcon {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.hide {
  display: none;
}
