.downIcon {
  position: fixed;
  bottom: 0;
  top: 95vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.upIcon {
  position: fixed;
  bottom: 100vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
