@use "../../styles/vars";
@import "../../styles/extensions";

.AboutCarrier {
  background-color: vars.$color-bg-alt;
  width: 100%;
  min-height: 100vh;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: vars.$padding 0;
}

.AboutCarrier__container {
  width: 80%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  // overflow: visible;

  & .AboutCarrier__content {
    font-size: vars.$fontSize-main;

    width: clamp(200px, 40%, 100%);
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: vars.$padding-big;
    // border-bottom: 1px solid grey;

    & p {
      padding-bottom: vars.$padding;
    }
  }

  & .AboutCarrier__picture {
    width: clamp(600px, 40%, 100%);
    flex-grow: 1;
    position: relative;
    z-index: 1;
    &::after {
      @extend %frame;
    }
    & img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

.sectionTitle {
  @extend %sectionTitle;
  &::after {
    @extend %underTitle-grey;
  }
}

.pushUp {
  position: relative;
  min-height: 15vh;
  min-width: 100%;
}

.AboutCarrier__extended {
  justify-self: center;
  align-items: center;
  width: 70%;
  min-height: 100vh;
  margin-bottom: 5rem;
  // border-left: 4px solid vars.$color-text;
}

.AboutCarrier__extended__wrapper,
.AboutCarrier__extended__wrapper3 {
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  height: fit-content;
  border: solid vars.$color-text;
  border-width: 0 0 4px 4px;
  border-bottom-left-radius: 25px;
  margin-bottom: 5vh;
}

.AboutCarrier__extended__wrapper2 {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: fit-content;
  border: solid vars.$color-text;
  border-width: 0 4px 4px 0;
  border-bottom-right-radius: 25px;
  margin-bottom: 5vh;

  & .bubbleItem {
    color: vars.$color-text;
    background-color: vars.$color-bg-main;
    &::after,
    &::before {
      background-color: vars.$color-bg-main;
    }
  }
}
.extraBorder {
  border-bottom: 1px solid vars.$color-text;
}

.AboutCarrier__extended__wrapper3 {
  .bubbleItem {
    background-color: vars.$color-bg-dark;
    &::after,
    &::before {
      background-color: vars.$color-bg-dark;
    }
  }
}

:root {
  --wrapper-animation: 300ms;
  --bubble-animation: 800ms;
}
.bubble-enter {
  opacity: 0;
}
.bubble-appear {
  opacity: 0;
}
.bubble-appear-active {
  opacity: 1;
  transition: opacity var(--bubble-animation) calc(var(--wrapper-animation) * 3);
  &1 {
    opacity: 1;
    transition: opacity var(--bubble-animation)
      calc(var(--wrapper-animation) * 3 + var(--bubble-animation) / 2);
  }
  &2 {
    opacity: 1;
    transition: opacity var(--bubble-animation)
      calc(var(--wrapper-animation) * 3 + var(--bubble-animation));
  }
  &3 {
    opacity: 1;
    transition: opacity var(--bubble-animation)
      calc(var(--wrapper-animation) * 3 + var(--bubble-animation) * 1.5);
  }
}

.bubble-enter-active3 {
  opacity: 1;
  transition: opacity var(--bubble-animation)
    calc(var(--wrapper-animation) * 3 + var(--bubble-animation) * 1.5);
}

.bubble-exit {
  opacity: 1;
}
.bubble-exit-active {
  opacity: 0;
  transition: opacity 100ms;
}

.wrapper-enter {
  opacity: 0;
}
.wrapper-enter-active {
  opacity: 1;
  transition: opacity var(--wrapper-animation);
  &1 {
    opacity: 1;
    transition: opacity var(--wrapper-animation) var(--wrapper-animation);
  }
  &2 {
    opacity: 1;
    transition: opacity var(--wrapper-animation)
      calc(var(--wrapper-animation) * 2);
  }
}

.hide {
  display: none;
}

.AboutCarrier__extended__wrapper .bubbleItem p,
.AboutCarrier__extended__wrapper2 .bubbleItem p,
.AboutCarrier__extended__wrapper3 .bubbleItem p {
  display: block;
  width: 100%;
  height: auto;
}

.AboutCarrier__extended__wrapper4 {
  margin-top: 18vh;
  font-size: vars.$fontSize-main;
  color: vars.$color-text-important;
}

@media only screen and (max-width: 360px) {
  .AboutCarrier__extended__wrapper .bubbleItem,
  .AboutCarrier__extended__wrapper2 .bubbleItem,
  .AboutCarrier__extended__wrapper3 .bubbleItem {
    width: 100%;
    height: 19vh;

    // transform: translate(10%, 50%);
  }

  .AboutCarrier__extended__wrapper,
  .AboutCarrier__extended__wrapper2,
  .AboutCarrier__extended__wrapper3 {
    justify-content: center;
    transform: translate(10%);
    height: 80px;
    position: relative;
    z-index: 8;
    border: none;
    margin-bottom: 7vh;
  }

  .AboutCarrier__extended__wrapper3 .bubbleItem {
    height: 22vh;
  }

  .AboutCarrier__extended__wrapper4 {
    margin-top: 25vh;
  }
}
