@use "../../styles/vars";
@import "../../styles/extensions";

.AboutCarrier {
  background-color: vars.$color-bg-alt;
  width: 100%;
  min-height: 100vh;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: vars.$padding 0;
}

.AboutCarrier__container {
  width: 80%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  // overflow: visible;

  & .AboutCarrier__content {
    font-size: vars.$fontSize-main;

    width: clamp(200px, 40%, 100%);
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: vars.$padding-big;
    // border-bottom: 1px solid grey;

    & p {
      padding-bottom: vars.$padding;
    }
  }

  & .AboutCarrier__picture {
    width: clamp(600px, 40%, 100%);
    flex-grow: 1;
    position: relative;
    z-index: 1;
    &::after {
      @extend %frame;
    }
    & img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

.sectionTitle {
  position: relative;
  height: 15vh;
  color: vars.$color-text-important;
  padding: vars.$padding-small;
  font-size: vars.$fontSize-title;
  width: fit-content;
  &::after {
    @extend %underTitle;
  }
}

.pushUp {
  position: relative;
  min-height: 15vh;
  min-width: 100%;
}

.AboutCarrier__extended {
  justify-self: center;
  align-items: center;
  width: 70%;
  margin-bottom: 5rem;
  // border-left: 4px solid vars.$color-text;
}

.AboutCarrier__extended__wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  height: fit-content;
  border: solid vars.$color-text;
  border-width: 0 0 4px 4px;
  border-bottom-left-radius: 25px;
  margin-bottom: vars.$padding-big;
}
.AboutCarrier__extended__item {
  position: relative;
  transform: translateY(50%);
  justify-self: flex-start;
  background-color: vars.$color-objects;
  display: flex;
  justify-content: space-between;
  padding: vars.$padding-small;
  color: vars.$color-text-alt;
  width: 80%;
  // height: clamp(5vh, 10vh, 100vh);
  height: 10vh;
  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    border-radius: 50%;
    z-index: 0;
    top: 0;
    right: 0;
    transform: translateX(50%);
    background-color: vars.$color-objects;
  }
  &::before {
    transform: translateX(-50%);
    left: 0;
    right: 0;
  }
  & .extended__logo {
    width: clamp(100px, 30%, 20%);
    height: clamp(5vh, 90%, 10vh);
    z-index: 1;

    & img {
      width: 70%;
      height: 100%;
      object-fit: contain;
    }
  }
  & p {
    width: clamp(200px, 30%, 80%);
    height: 100%;
    flex-grow: 1;
    z-index: 1;
  }
}

.extraBorder {
  border-bottom: 1px solid vars.$color-text;
}

.AboutCarrier__extended__wrapper2 {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: fit-content;
  border: solid vars.$color-text;
  border-width: 0 4px 4px 0;
  border-bottom-right-radius: 25px;
  margin-bottom: vars.$padding-big;
}
