@use "../../styles/vars";

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: vars.$padding-small;
  margin-bottom: vars.$margin;
  background-color: vars.$color-bg-dark;
  color: vars.$color-text-alt;
  font-size: 1.5rem;
}

.nav__right {
  list-style: none;
  display: flex;
  & li {
    padding-left: vars.$padding-big;
  }
}
